<div class="path"><label><a class="link" href="/">Home</a> / New User</label></div>
    
<div id="user-form">   
    <form id="form" action="/users/new" method="POST">
        <div class="form-field"><label>FIRST NAME</label><br /><input id="firstName-input" required autocomplete="off" class="user-form-input" name="firstName" type="text" />
        </div>
        
        <div class="form-field"><label>LAST NAME</label><br /><input id="lastName-input" required autocomplete="off" class="user-form-input" name="lastName" type="text" />
        </div>
    
        <div style="clear: both;"></div>
    
        <div class="form-field"><label>ROLE</label><br />
            <select name="role" class="user-form-select">
                <option value="user">user</option>
                <option value="admin">admin</option>
            </select>
        </div>
        <div class="form-field"><label>SURRNAME</label><br /><input id="surrname-input" required autocomplete="off" class="user-form-input" name="surrname" type="text" />
        </div>
    
        <div style="clear: both;"></div>
    
        <div class="form-field"><label>EMAIL</label><br /><input id="email-input" required autocomplete="off" class="user-form-input" name="email" type="text" />
        </div>

        <div class="form-field"><label>PHONE</label><br /><input id="phone-input" required autocomplete="off" class="user-form-input" name="phone" onkeydown="PhoneNumberFormatter()" />
            
        </div>
    
        <div style="clear: both;"></div>
        
    </form>
    <div style="text-align: center;">
        <button onclick="CheckValidationAndSendForm()" class="btn-menu" id="btn-submit">Submit</button>
        <p id="validation-text" class="validation"></p>
    </div>

        
</div>