<div id="menu">
    <div id="menu-options">
        <div id="#title" style="float: left;">
            <h1 class="title">User Management System</h1>
        </div>
        <a href="/" style="color: white">
            <div class="menu-option" style="float: left;">Home</div>
        </a>
        <a href="/users/new" style="color: white">
            <div class="menu-option" style="float: left; width: 80px;">Add User</div>
        </a>
        
        <div style="clear: both;"></div>
    </div>
</div>